root {
    --main-color: #006EE2;
}

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* 90% of this is overriding Material UI Colours */

.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #006EE2!important;
}

/* .MuiFormLabel-root.Mui-focused {
    color:  #757575!important;
}

.MuiOutlinedInput-notchedOutline {
    border-color: #757575!important;
} */

.MuiButton-outlinedPrimary {
    color: #006EE2!important;
}

.MuiButton-root {
    border-radius: 50px!important;
}

.MuiFormControl-marginNormal {
    margin: 4px!important;
}

.MuiPickersDay-daySelected {
    background-color: #006EE2!important;
    border: #006EE2!important;
}

.MuiButton-textPrimary {
    color: #006EE2!important;
}

.MenuHidden {
    opacity: 0;
}

.MenuVisible {
    opacity: 1;
}

.HomeCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgb(0, 110, 226);
    height: 50vh;
    width: 90vw;
    max-width: 500px;
    margin: auto;
}

.MuiChip-icon {
    color: rgb(0, 110, 226)!important;
}

.BlackWhite {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.BlueGradient {
    background: rgb(0,110,226);
    background: -moz-linear-gradient(180deg, rgba(0,110,226,1) 0%, rgba(0,61,125,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,110,226,1) 0%, rgba(0,61,125,1) 100%);
    background: linear-gradient(180deg, rgba(0,110,226,1) 0%, rgba(0,61,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#006ee2",endColorstr="#003d7d",GradientType=1);
}