root {
    --main-color: #006EE2;
}

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}


.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #006EE2!important;
}

.MuiButton-outlinedPrimary {
    color: #006EE2!important;
}

.MuiButton-root {
    border-radius: 50px!important;
}

.MuiFormControl-marginNormal {
    margin: 4px!important;
}

.MuiPickersDay-daySelected {
    background-color: #006EE2!important;
    border: #006EE2!important;
}

.MuiButton-textPrimary {
    color: #006EE2!important;
}

.MenuHidden {
    opacity: 0;
}

.MenuVisible {
    opacity: 1;
}

.HomeCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgb(0, 110, 226);
    height: 50vh;
    width: 90vw;
    max-width: 500px;
    margin: auto;
}

.MuiChip-icon {
    color: rgb(0, 110, 226)!important;
}

/* Background color effects */

.BlackWhite {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.BlueGradient {
    background: rgb(0,110,226);
    background: -moz-linear-gradient(180deg, rgba(0,110,226,1) 0%, rgba(0,61,125,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,110,226,1) 0%, rgba(0,61,125,1) 100%);
    background: linear-gradient(180deg, rgba(0,110,226,1) 0%, rgba(0,61,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#006ee2",endColorstr="#003d7d",GradientType=1);
}

.Overlay {
    opacity: 90%;
    -moz-opacity: 0.9; /* Firefox and Mozilla browsers */
   -webkit-opacity: 0.9; /* WebKit browser e.g. Safari */
   filter: alpha(opacity=9); 
}

/* Menu Positions */
.MenuOpen {
    position: fixed;
    opacity: 1;
    transition-duration: 0.6s;
    left: 0vw;
}

.MenuClosed {
    position: fixed;
    transition-duration: 0.6s;
    left: 100vw;
}

.deleteButton {
    color: rgb(139, 132, 131);
    position: fixed;
    size: 1rem;
    left: 8px;
    top: 13px;
    cursor: pointer;
}

.deleteButton :hover {
    color: rgb(226, 73, 33);
    size: 1rem;
}

/* Backdrop cover */
.blackOverlay {
    background-color: black;
    width: 100vw;
    height: 100vh;
    opacity: 0.6;
    -moz-opacity: 0.6; /* Firefox and Mozilla browsers */
   -webkit-opacity: 0.6; /* WebKit browser e.g. Safari */
   filter: alpha(opacity=6); 
    position: absolute;
}

/* Task menu style overrides */
.MuiFab-root {
    width: 36px!important;
    height: 36px!important;
}

.makeStyles-speedDial-109.MuiSpeedDial-directionDown, .makeStyles-speedDial-109.MuiSpeedDial-directionRight {
    top: -18px!important;
    left: 5px!important;
}

.MuiFab-primary {
    color: #fff;
    background-color: #006EE2!important;
}

.MenuButtonStyle:hover ~ .TaskTitle {  color: rgb(255, 255, 255); }

.TaskTitle {
    color: #006EE3;
    font-weight: bold;
}

.EditProjectButton {
    position: absolute;
}
